@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --second-accent-color: #212121;
  --third-accent-color: #000000;
  --fourth-accent-color: #ffffff;
  --fifth-accent-color: #757575;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--second-accent-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-link__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-link__icon, .social-link:focus .social-link__icon {
  fill: var(--fourth-accent-color);
}

.social-link_theme-dark {
  background: rgba(255, 255, 255, 0.1);
}

.social-link__icon_theme-dark {
  fill: var(--fourth-accent-color);
}

.portfolio-nav-list__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-family: var(--main-font);
  color: var(--second-accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav-list__btn:focus, .portfolio-nav-list__btn:hover {
  color: var(--fourth-accent-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-nav-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav-list {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .portfolio-nav-list {
    margin-bottom: 40px;
  }

  .portfolio-nav-list__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-nav-list {
    justify-content: center;
    margin-bottom: 50px;
  }
}
.backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 480px) {
  .modal-window {
    max-width: 450px;
    max-height: 100%;
  }
}
.modal-window {
  overflow-y: scroll;
  position: absolute;
  max-width: 450px;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
}

.modal-window-btn {
  width: 18px;
  height: 18px;
  margin-top: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus .modal-window-btn, .modal-close-btn:hover .modal-window-btn {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) and (min-width: 480px) {
  .modal-window {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal-window {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    max-height: none;
    max-width: none;
    width: 528px;
    height: 581px;
  }
}
.modal-form-head {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-accent-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
}
.modal-form-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-comment::-moz-placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-comment:-ms-input-placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-comment::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-field {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--fifth-accent-color);
  margin-bottom: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* transition: background-color 2500ms ease-in-out 0s; */
  box-shadow: 0 0 0px 1000px #ffffff inset;
}

.modal-form-checkbox-policy {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--fifth-accent-color);
  margin-bottom: 30px;
}
.modal-form-checkbox-policy::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(../images/modal-window/icon-check.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #2196f3;
}
.modal-form-input-checkbox:focus + .modal-form-checkbox-policy::before {
  border-color: var(--accent-color);
}

.modal-form-btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--fourth-accent-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 55px;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .modal-form-comment::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form-comment:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .modal-form-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }

  .modal-form-checkbox-policy {
    font-size: 14px;
    line-height: 1.71;
  }
}
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-link__second-logo {
  color: var(--third-accent-color);
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 26px;
    line-height: 1.19;
  }

  .header__logo {
    margin-right: 93px;
  }
}
.logo-link__footer-second-logo {
  color: var(--fourth-accent-color);
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #ffffff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    top: 10px;
    right: 0px;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
  .mobile-menu__nav-list-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--second-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .mobile-menu__nav-list-item:last-child {
    margin-bottom: 302px;
  }
  .mobile-menu__nav-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__nav-list-link:hover, .mobile-menu__nav-list-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--fifth-accent-color);
  }
  .mobile-menu__contacts-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__contacts-list-item:last-child {
    margin-bottom: 64px;
  }
  .mobile-menu__social-list {
    display: flex;
  }
  .mobile-menu__social-list-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__social-list-item:not(:last-child) {
    margin-right: 10px;
  }
  .mobile-menu__social-list-item:not(:last-child)::after {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    width: 22px;
    margin-left: 10px;
  }

  .mobile-menu__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:focus .mobile-menu__close-icon, .mobile-menu__close-btn:hover .mobile-menu__close-icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }

  .header-contacts-list {
    display: none;
  }

  .header__mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    fill: var(--third-accent-color);
    line-height: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
  }

  .header__mobile-menu-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__mobile-menu-btn:hover .header__mobile-menu-icon, .header__mobile-menu-btn:focus .header__mobile-menu-icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .header__mobile-menu-btn {
    display: none;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
  }

  .navigation-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .navigation-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .navigation-list__link:hover, .navigation-list__link:focus {
    color: var(--accent-color);
  }

  .header-contacts-list {
    display: block;
    margin-top: 21px;
    margin-bottom: 21px;
  }
  .header-contacts-list__item:first-child {
    margin-bottom: 10px;
  }

  .header-contacts-list__logo {
    fill: #757575;
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts-list__link:hover .header-contacts-list__logo, .header-contacts-list__link:focus .header-contacts-list__logo {
    fill: var(--accent-color);
  }

  .header-contacts-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--fifth-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
  }
  .header-contacts-list__link:hover, .header-contacts-list__link:focus {
    color: var(--accent-color);
  }
}
.header-current {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .navigation-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-contacts-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
  }

  .header-contacts-list__item:first-child {
    margin-bottom: 0px;
  }

  .header-contacts-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .header-contacts-list__mail-logo {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .header-contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-contacts-list__logo {
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-current::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    margin-top: 27px;
  }
}
.hero {
  /* background: #2f303a; */
  text-align: center;
  background-image: linear-gradient(#2f303a66, #2f303a66), url(../../images/hero/hero-img.jpg);
  background-color: #c4c4c4;
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
}

.hero-container {
  padding: 118px 0 118px 0;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fourth-accent-color);
  text-align: center;
  margin: 0 auto;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--fourth-accent-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.hero__btn {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: url(../../images/hero/hero-img-mobile.jpg);
  }

  .hero__title {
    max-width: 360px;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero/hero-img-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../../images/hero/hero-img-tablet.jpg);
  }

  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero/hero-img-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../../images/hero/hero-img-desktop.jpg);
  }

  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero/hero-img-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    padding: 200px 0 200px 0;
  }
}
@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-right: -30px;
}

.what-we-do__title {
  margin-bottom: 50px;
}

.what-we-do-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 50px;
  margin-right: 30px;
  position: relative;
}

.what-we-do-list__description {
  position: absolute;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  padding-top: 27px;
}

.our-team__title {
  margin-bottom: 30px;
}

.our-team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team-list__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fifth-accent-color);
  margin-bottom: 16px;
}

.our-team__members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  background: #f5f4fa;
}

.our-team-list__img {
  margin: 0 auto;
}

.our-team-list__content {
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

@media screen and (max-width: 767px) {
  .our-team-list__img {
    width: 100%;
    max-height: 460px;
  }

  .our-team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-team-list__content {
    padding-bottom: 24px;
    padding-top: 30px;
    padding-right: 74px;
    padding-left: 74px;
  }

  .our-team-list__img {
    width: 354px;
    height: 374px;
  }

  .our-team__members {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .our-team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .our-team-list__content {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .our-team-list__img {
    width: 270px;
    height: 260px;
  }

  .our-team__members {
    flex-direction: row;
    margin-left: -30px;
    margin-top: -30px;
  }

  .our-team__title {
    margin-bottom: 50px;
  }

  .our-team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }
}
.clients-list {
  display: flex;
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
  }

  .clients-list__item {
    margin-left: 30px;
    margin-top: 30px;
  }

  .clients-list__link {
    width: 210px;
    height: 92px;
  }

  .our-clients__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
  }

  .clients-list__item {
    margin-left: 30px;
    margin-top: 30px;
  }

  .clients-list__link {
    width: 226px;
    height: 92px;
  }

  .our-clients__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
    height: 92px;
  }

  .clients-list {
    justify-content: space-between;
    margin-left: 0;
    margin-top: 0;
  }

  .clients-list__item {
    margin-left: 0;
    margin-top: 0;
  }

  .our-clients__title {
    margin-bottom: 50px;
  }
}
.features-list__suptitle {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.features-list__suptitle-descritpion {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fifth-accent-color);
}

.features-list__item {
  margin-bottom: 30px;
}

.features-list__item:last-child {
  margin-bottom: 0px;
}

.features-list {
  display: block;
}

.features-list__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
  }

  .features-list__bg {
    width: 354px;
  }

  .features-list__item {
    max-width: 354px;
  }

  .features-list__item:nth-child(n+3) {
    margin-bottom: 0;
  }

  .features-list__suptitle {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .features-list__item {
    margin-bottom: 0;
  }

  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }

  .features-list__bg {
    width: 270px;
    margin-bottom: 30px;
  }

  .features-list__suptitle {
    text-align: left;
  }
}
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.addres-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-accent-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-list__link:hover, .addres-list__link:focus {
  color: var(--accent-color);
}

.addres-list__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-list__contacts:hover, .addres-list__contacts:focus {
  color: var(--accent-color);
}

.addres-list {
  margin-top: 20px;
}

.footer-social__list-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.footer-sbscr-form__head {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-accent-color);
  margin-bottom: 20px;
}

.footer-sbscr-form__icon {
  margin-left: 10px;
}

.footer-sbscr-form__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-sbscr-form__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--fourth-accent-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 28px;
  /* display: inline-block; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.footer-sbscr-form__btn:hover, .footer-sbscr-form__btn:focus {
  background-color: #188ce8;
}

.footer-sbscr-form__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  margin-right: 12px;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sbscr-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .footer-address-wrap {
    text-align: center;
    margin-bottom: 60px;
  }

  .addres-list__item:not(:last-child) {
    margin-bottom: 8px;
  }

  .social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  .footer-social__list-heading {
    text-align: center;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-sbscr-form__head {
    text-align: center;
  }

  .footer-sbscr-form__wrapper {
    flex-direction: column;
  }

  .footer-sbscr-form__input {
    margin-bottom: 20px;
    max-width: 100vw;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-tablet-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-sbscr-form__head {
    text-align: center;
  }

  .footer-sbscr-form__wrapper {
    flex-direction: column;
  }

  .footer-sbscr-form__input {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .addres-list__item:not(:last-child) {
    margin-bottom: 9px;
  }

  .footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-social__list-heading {
    text-align: center;
    /* margin-left: 70px; */
    /* margin-right: 93px; */
  }

  .footer-sbscr-form__input {
    width: 358px;
    height: 50px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  .footer-address-wrap {
    margin-right: 70px;
  }

  .footer-sbscr-form__wrapper {
    flex-direction: row;
  }

  .footer-tablet-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
  }
}
.portfolio-product-wrapper__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--third-accent-color);
}

.portfolio-product-wrapper__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--fifth-accent-color);
}

.portfolio-сatalog {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-сatalog__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-сatalog__item:hover, .portfolio-сatalog__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-product-wrapper__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-product-wrapper__overlay {
  position: absolute;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-left: 63px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
}
.portfolio-product-wrapper:hover .portfolio-product-wrapper__overlay, .portfolio-product-wrapper:focus .portfolio-product-wrapper__overlay {
  transform: translateY(0%);
}

.portfolio-product-wrapper__img {
  position: relative;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */