.features-list {
  display: block;

  &__suptitle {
    display: block;
    text-align: center; ///////////////////////////////
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px; ////////////////////////////////////
    margin-bottom: 10px;
  }

  &__suptitle-descritpion {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--fifth-accent-color);
  }

  &__item {
    margin-bottom: 30px;
  }

  &__item:last-child {
    margin-bottom: 0px;
  }

  &__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;

    &__bg {
      width: 354px;
    }

    &__item {
      max-width: 354px;
    }

    &__item:nth-child(n + 3) {
      margin-bottom: 0;
    }

    &__suptitle {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-wrap: nowrap;

    &__item {
      margin-bottom: 0;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }
    &__bg {
      width: 270px;
      margin-bottom: 30px;
    }

    &__suptitle {
      text-align: left;
    }
  }
}
