.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }

  .header-contacts-list {
    display: none;
  }

  .header {
    &__mobile-menu-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      fill: var(--third-accent-color);
      line-height: 0;
      padding-top: 10px;
      padding-right: 15px;
      padding-bottom: 10px;
    }
  }

  .header__mobile-menu-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header__mobile-menu-btn:hover &,
    .header__mobile-menu-btn:focus & {
      fill: var(--accent-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__mobile-menu-btn {
      display: none;
    }
  }
}
// .header {
//   /* padding-top: 24px;
//   padding-bottom: 25px; */
//   border-bottom: 1px solid #ececec;
// }

// .header-navigation {
//   display: flex;
//   align-items: center;
// }

// .navigation-list {
//   display: flex;
// }

// .header-contacts-list {
//   display: flex;
// }

// .navigation-list__item:not(:last-child) {
//   margin-right: 50px;
// }

// .navigation-list__link {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--second-accent-color);
//   padding-top: 32px;
//   padding-bottom: 32px;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   position: relative;

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .header-contacts-list__item:not(:last-child) {
//   margin-right: 50px;
// }

// .header-contacts-list__link {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--fifth-accent-color);
//   padding-top: 32px;
//   padding-bottom: 32px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .header-contacts-list__logo {
//   fill: #757575;
//   margin-right: 10px;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .header-contacts-list__link:hover &,
//   .header-contacts-list__link:focus & {
//     fill: var(--accent-color);
//   }
// }

// .header-contacts-list__mail-logo {
//   margin-top: 2px;
//   margin-bottom: 2px;
// }

//   &::after {
//     position: absolute;
//     bottom: 0;
//     display: block;
//     content: "";
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: var(--accent-color);
//     margin-top: 27px;
//   }
// }
