.hero {
  /* background: #2f303a; */
  text-align: center;
  background-image: linear-gradient(#2f303a66, #2f303a66), url(../images/hero/hero-img.jpg);
  background-color: #c4c4c4;
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--fourth-accent-color);
    text-align: center;
    margin: 0 auto;
  }

  &__btn {
    margin-top: 30px;
  }
}

.hero-container {
  padding: 118px 0 118px 0;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--fourth-accent-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  display: inline-block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// 0-767
@media screen and (max-width: 767px) {
  .hero {
    background-image: url(../images/hero/hero-img-mobile.jpg);

    &__title {
      max-width: 360px;
    }
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero/hero-img-mobile@2x.jpg);
    }
  }
}

// 768 +
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero/hero-img-tablet.jpg);

    &__title {
      width: 360px;
    }
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero/hero-img-tablet@2x.jpg);
    }
  }
}

// 1200 +
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/hero/hero-img-desktop.jpg);

    &__title {
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
    }
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero/hero-img-desktop@2x.jpg);
    }
  }

  .hero-container {
    padding: 200px 0 200px 0;
  }
}
