.our-team {
  background: #f5f4fa;

  &__title {
    margin-bottom: 30px;
  }

  &__members {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.our-team-list {
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--fifth-accent-color);
    margin-bottom: 16px;
  }

  &__item {
    // width: 450px;
    // height: 622px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__img {
    margin: 0 auto;
  }

  &__content {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .our-team-list__img {
    width: 100%;
    // max-width: 450px;
    max-height: 460px;
  }

  .our-team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-list__content {
    padding-bottom: 24px;
    padding-top: 30px;
    padding-right: 74px;
    padding-left: 74px;
  }

  .our-team-list__img {
    width: 354px;
    height: 374px;
  }

  .our-team__members {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .our-team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list__content {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .our-team-list__img {
    width: 270px;
    height: 260px;
  }

  .our-team__members {
    flex-direction: row;
    margin-left: -30px;
    margin-top: -30px;
  }

  .our-team__title {
    margin-bottom: 50px;
  }

  .our-team-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }
}
