.portfolio-product-wrapper__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--third-accent-color);
}

.portfolio-product-wrapper__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--fifth-accent-color);
}

.portfolio-сatalog {
  display: block;
  // display: flex;
  // flex-wrap: wrap;
  // // margin-left: -30px;
  // margin-top: -30px;
}

.portfolio-сatalog__item {
  // margin-left: 30px;
  // margin-top: 30px;
  // flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-product-wrapper__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-product-wrapper__overlay {
  position: absolute;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-left: 63px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;

  .portfolio-product-wrapper:hover &,
  .portfolio-product-wrapper:focus & {
    transform: translateY(0%);
  }
}

.portfolio-product-wrapper__img {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .portfolio-catalog__img {
    max-width: 100vw;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-сatalog__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-сatalog {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .portfolio-сatalog__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  // .portfolio-сatalog {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: -30px;
  //   margin-top: -30px;
  // }

  .portfolio-сatalog__item {
    // margin-left: 30px;
    // margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
}
