@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-right: -30px;
}

.what-we-do__title {
  margin-bottom: 50px;
}

.what-we-do-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 50px;
  margin-right: 30px;
  position: relative;
}

.what-we-do-list__description {
  position: absolute;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  padding-top: 27px;
}
