.portfolio-nav-list__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-family: var(--main-font);
  color: var(--second-accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--fourth-accent-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.portfolio-nav-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav-list {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .portfolio-nav-list {
    margin-bottom: 40px;
  }

  .portfolio-nav-list__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-nav-list {
    // display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
