:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --second-accent-color: #212121;
  --third-accent-color: #000000;
  --fourth-accent-color: #ffffff;
  --fifth-accent-color: #757575;
}